@model List<TP.SOLUCION.UI.Web.Models.CategoriesVM>

@{
    ViewBag.Title = "Categories Page";
    int index = 1;
}

<div id="indexCategories" class="container">

    <div class="row">
        <div class="col-sm-10">
            <h1>All Categories</h1>
        </div>
        <div class="col-sm-2 navbar-text navbar-right">
            @Html.ActionLink("Add New Category", "Insert", new { }, new { @class = "btn btn-success" })
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
            <tr>
                <td scope="row">@(index++)</td>
                <td>@category.CategoryName</td>
                <td>@category.Description</td>
                <td><button type="button" class="btn btn-danger" data-toggle="modal" onclick="openModalDelete({ CategoryId: @category.CategoryId, CategoryName: '@category.CategoryName' })">Delete</button></td> 
                <td>@Html.ActionLink("Update", "Update", new { id = category.CategoryId }, new { @class = "btn btn-primary" })</td>
            </tr>
            }
        </tbody>
    </table>
    <div id="Modal"></div>
    
</div>


    
